# Navigation
alias ..="cd .."
alias ...="cd ../.."

# Always list files colorized in long format.
alias ls="ls -hGl"

# List all files.
alias ll="ls -a"

# List only dotfiles.
alias lh="ls -d .*"

# Quick open current directory in Sublime Text.
alias e="subl -n ."
