[alias]
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\t=> \\2/' | sort
    amend = commit --amend
    br = branch
    bra = branch -a
    ci = commit
    co = checkout
    diffc = diff --cached
    l = for-each-ref --sort=-committerdate refs/heads --format='%(committerdate:short) %(refname:short)'
    ll = !git --no-pager log --graph --abbrev-commit --max-count=15
    master = checkout master
    r = checkout --
    remotes = remote -v
    st = status
    tags = tag -l

[color]
    ui = auto

[core]
    editor = subl -w
    excludesfile = ~/.gitignore
    pager = less -x5,9

[format]
    pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %C(cyan)(%cr)%Creset %C(blue)<%an>%Creset

[push]
    default = tracking

[user]
    name = Brett Stimmerman
    email = brettstimmerman@gmail.com
